<div class="section padding-top">
    <!--Title and logo-->
    <div class="container">
        <nav class="level">
            <div class="level-item">
                <img alt="" class="logo" src="../../assets/rotolo.svg">
            </div>
        </nav>
        <p class="title has-text-centered is-size-3">Será que o papel vai dar?</p>
        <p class="title has-text-centered is-size-5">Um guia para saber se você aguenta até o final da quarentena do COVID-19</p>
    </div>


    <!--Result message-->
    <div class="container margin-top">
        <nav class="level">
            <div [class.is-danger]='(percentageSurviving<25)' [class.is-warning]='(percentageSurviving<75)' [class.is-info]='(percentageSurviving<100)' [class.is-success]='(percentageSurviving>=100)' class="level-item notification is-size-5">
                <span>Seu estoque dura {{daysSurviving}} dias ou {{percentageSurviving}}% do seu período de quarentena</span>
            </div>
        </nav>

        <p class="title has-text-centered is-size-6">Compartilhe o resultado com seus amigos!</p>

    <!--Share Buttons-->
    <div class="container margin-top">
        <nav class="level">
            <div class="level-item">
                    <share-buttons 
                    class="is-"
                    [theme]="'default'" 
                    [include]="['facebook','twitter','telegram','messenger','whatsapp']" 
                    [show]="5"
                    [url]="'https://seraqueopapelvaidar.web.app'" [title]="'Será que o papel vai dar?'" [description]="(resultHashtagMessage)+'\nMeu estoque dura '+(percentageSurviving)+'% do período de quarentena, e o seu? \nNāo seja egoísta! Siga o guia para saber se você aguenta até o final da quarentena do COVID-19. \nAcesse e descubra!!!'"
                    [autoSetMeta]="false"></share-buttons>    
            </div>
        </nav>
    </div>

    </div>

    <!--The sliders for the inputs-->
    <div class="container">

        <h1 class="is-size-5 no-margin-bottom margin-top">Quantidade de rolos estocados: {{rolls}}</h1>
        <mat-slider [(value)]="rolls" (input)="rolls = $event.value; calculateDays()" min="1" max="100" step="1"></mat-slider>
        
        <h1 class="is-size-5 no-margin-bottom margin-top">Pessoas na casa: {{numPeople}}</h1>
        <mat-slider [(value)]="numPeople" (input)="numPeople = $event.value; calculateDays()" min="1" max="10" step="1"></mat-slider>

        <div class="buttons">
            <button (click)="toggleAdvanced()" class="button is-info">Avançado</button>
          </div>

        <div *ngIf=showAdvancedOptions class="container">
            <h1 class="is-size-5 no-margin-bottom margin-top ">Folhas usadas por visita ao banheiro: {{sheetsPerUse}}</h1>
            <mat-slider [(value)]="sheetsPerUse" (input)="sheetsPerUse = $event.value; calculateDays()" min="1" max="50" step="1"></mat-slider>
            
            <h1 class="is-size-5 no-margin-bottom margin-top">Idas ao banheiro por dia: {{usesPerDay}}</h1>
            <mat-slider [(value)]="usesPerDay" (input)="usesPerDay = $event.value; calculateDays()"min="1" max="10" step="1"></mat-slider>

            <h1 class="is-size-5 no-margin-bottom margin-top">Folhas por rolo: {{sheetsPerRoll}}</h1>
            <mat-slider [(value)]="sheetsPerRoll" (input)="sheetsPerRoll = $event.value; calculateDays()"min="1" max="500" step="1"></mat-slider>

            <h1 class="is-size-5 no-margin-bottom margin-top">Período de quarentena: {{quarentineDays}}</h1>
            <mat-slider [(value)]="quarentineDays" (input)="quarentineDays = $event.value; calculateDays()"min="1" max="120" step="1"></mat-slider>
        </div>
    </div>

    <!--Footer-->
    <div class="container margin-top ">
        
        <h6 class="subtitle has-text-centered is-6">Uma versão brasileira do original <a href="https://howmuchtoiletpaper.com">How much toilet paper?</a></h6>
    
    </div>

</div>