mat-slider{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.no-margin-bottom{
    margin-bottom: 0px;
}

.margin-top{
    margin-top: 10px;
}

.padding-top{
    padding-top: 10px;
}

.logo{
    height: 90px;
}